{{$menu := (.menus.GetMenu "Main")}}
<!doctype html>
<html>
  <head>
    <title>{{.title}}</title>

    <link rel="icon" href="/assets/favicon.ico" />
    <link rel="manifest" href="/manifest.webmanifest" />

    <!--Styles-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/custom.css">

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <nav>
      <div class="nav-wrapper row">
        <div class="col s12">
          <a href="/" class="brand-logo">{{ .siteName }}</a>
          <a href="#" data-target="side-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            {{range $menu.MenuItems}}
            <li><a href="{{.URL}}">{{.Name}}</a></li>
            {{end}}
            <li>
              {{if .loggedIn}}
              <a class="dropdown-trigger" href="#!" data-target="loggedIn-dropdown">
                Settings<i class="material-icons right">arrow_drop_down</i>
              </a>
              <ul id="loggedIn-dropdown" class="dropdown-content">
                <li><a href="/profile">Profile</a></li>
                <li><a href="/menus">Menus</a></li>
                <li><a href="/auth/logout">Logout</a></li>
              </ul>
              {{else}}
              <a href="/auth">Login or Register</a>
              {{end}}
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <ul class="sidenav" id="side-menu">
      {{range $menu.MenuItems}}
      <li><a href="{{.URL}}">{{.Name}}</a></li>
      {{end}}
      <li>
        {{if .loggedIn}}
        <a class="dropdown-trigger" href="#!" data-target="loggedIn-dropdown-side">
          Settings<i class="material-icons right">arrow_drop_down</i>
        </a>
        <ul id="loggedIn-dropdown-side" class="dropdown-content">
          <li><a href="/profile">Profile</a></li>
          <li><a href="/menus">Menus</a></li>
          <li><a href="/auth/logout">Logout</a></li>
        </ul>
        {{else}}
        <a href="/auth">Login or Register</a>
        {{end}}
      </li>
    </ul>
    {{template "content" .}}
    {{include "layouts/footer"}}
  </body>
</html>
