{{define "content-header"}}Admin{{end}}

{{define "content"}}
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <p>
          Things to do for backend:
        </p>
        <ul>
          <li>Required:
            <ul>
              <li>Posts section (list, edit, create)</li>
              <li>Pages section (list, edit, create)</li>
              <li>Menus section (list, edit, create menus and menu items)</li>
            </ul>
          </li>
          <li>Nice-to-have:
            <ul>
              <li>Number of posts</li>
              <li>Number of reactions (comments, likes, reposts, etc.)</li>
              <li>Number of visits (unique, returning, etc.)</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{{end}}
