{{define "content-header"}}Edit: {{ .post.Title }}{{end}}

{{define "content"}}
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <form method="POST" action="/admin/posts/{{ if .post.ID }}{{ .post.Slug }}{{ else }}new{{ end }}">
          <div class="form-group">
            <label for="post-title">Post Title</label>
            <input type="text" class="form-control form-control-lg" id="post-title" name="title" value="{{ .post.Title }}" />
          </div>
          <div class="form-group">
            <textarea id="body" name="body" value="{{ .post.Body }}"></textarea>
          </div>
          <button type="submit" class="btn btn-primary"><i class="far fa-save"></i>&nbsp;Save</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
<script type="text/javascript">
  let easyMDE = new EasyMDE({
    element: document.getElementById('body'),
    initialValue: '{{ .post.Body }}',
    uploadImage: true,
    imageUploadEndpoint: "/media/upload",
    imageUploadFunction: (file, onSuccess, onError) => {
      const formData = new FormData();
      formData.append('file', file);

      fetch('/media/upload', {
        method: 'POST',
        body: formData,
      })
        .then((response) => {
          let location = '';

          for (var pair of response.headers.entries()) {
            if (pair[0] == 'location') {
              location = pair[1];
            }
          }

          if (location == '') {
            throw "Location can't be empty"
          }

          return location
        })
        .then((location) => {
          onSuccess(location);
        })
        .catch(error => {
          onError(error);
        })
    },
    toolbar: [
      'bold',
      'italic',
      'heading',
      '|',
      'quote',
      'unordered-list',
      'ordered-list',
      '|',
      'link',
      'image',
      {
        name: 'upload-image',
        action: e => {
          e.openBrowseFileWindow()
        },
        className: 'fas fa-upload',
        title: 'Upload Image',
      },
      '|',
      'preview',
      'side-by-side',
      'fullscreen',
      '|',
      'guide',
    ]
  });
</script>
{{end}}
